@using System.Security.Claims;
@{
    ViewBag.Title = "Home";
}
@{
    string pathAvatar = Model.Data.Nick + "/image?key=" + Model.Data.AvatarPath;

    bool isAuth = Model.Data.Nick != null && User.FindFirst(ClaimTypes.Name)?.Value == Model.Data.Nick;
}

<div class="rowstretchstackpanel">
    <p class="nick">@Model.Data.Nick</p>
    @if (isAuth)
        {
            <a asp-action="Edit" asp-asp-controller="Person">edit</a>
        }
</div>
<div class="rowstackpanel contentbackground">
    <img class="bigavatar" src="@pathAvatar" />
    <div>
        <h2 class="name">@string.Format(@"{0} {1} {2}", Model.Data.Family, Model.Data.Name, Model.Data.SecondName)</h2>
    </div>
</div>

<div class="rowstackpanel">
    @{
        int count = Model.Friends.Count;
        string fierndsStr = count == 0 ? "not friends" : string.Format("{0} friends: ", count);
    }
    <h2>@fierndsStr</h2>
    @{
        if (count > 3)
            count = 3;
        for (int i = 0; i < count; i++)
        {
            var friend = Model.Friends[i].Friend;
            string friendAvatartPath = friend.Data.Nick + "/image?key=" + friend.Data.AvatarPath;
            <img class="smallavatar" src="@friendAvatartPath" />
        }
    }
    <a asp-asp-controller="Person" asp-action="Friends" asp-route-id="@Model.Data.Nick">...</a>
</div>
<div id="addFriendArea"></div>
<script asp-append-version="true" src="~/js/personPage/appendfriendbutton.js"></script>