
@{
    ViewBag.Title = "Home";
    Layout = "/Views/Shared/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using ConBrain.Model;
@model Person

@{
    string? avatar = Model.AvatarPath;
    if (avatar == null || avatar == string.Empty)
        avatar = "default.svg";
    string pathAvatar = "/avatars/" + avatar;
}

<div id="nick">@Model.Nick</div>
<div id="personDates">
    <img class="avatar" src="@pathAvatar" />
    <div id="name">@string.Format(@"{0} {1}", Model.Family, Model.Name)</div>
</div>
<div id="addFriendArea"></div>
<div id="friends">
    <div id="friendsStatic">
        @{
            int count = Model.Friends.Count;
            string fierndsStr = count == 0? "not friends" : string.Format("{0} friends", count);
        }
        <p>@fierndsStr</p>
        @{
            if (count > 3)
                count = 3;
            for (int i = 0; i < count; i++)
            {
                string? friendsAvatar = Model.Friends[i].AvatarPath;
                if (friendsAvatar == null || friendsAvatar == string.Empty)
                    friendsAvatar = "default.svg";
                string friendAvatartPath = "/avatars/" + friendsAvatar;
                <img class="middleicon" src="@friendAvatartPath" />
            }
        }
        <a asp-asp-controller="Person" asp-action="Friends">...</a>
    </div>
</div>
<script asp-append-version="true" src="~/js/personPage/appendfriendbutton.js"></script>